<div class="container">
  <h1 class="h1">
    List of animations
  </h1>

  <div class="row">
    {% for i, item in items %}
      <div class="col-md-4">
        {{ item }}
      </div>
    {% endfor %}
  </div>
</div>
