{{ attach_library('animate/smoothe') }}
<div class="center">
  <p id="text">
    This is my smoothe text, you see, you see !!!
  </p>
</div>

<div class="mylink">
  <a target="_blank" href="http://kenyzachelin.fr">Coded by Keny Zachelin</a>
</div>
