<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default1" connectionString="Data Source=.\persons1.db;" providerName="System.Data.SqlClient" />
		<add name="Default" connectionString="Filename=../../../persons5.db" providerName="System.Data.SqlClient" />
		<add name="Sqlite" connectionString="Filename=.\persons2.db" providerName="System.Data.SqlClient" />
		<add name="Sqlite4" connectionString="Filename=../../../persons4.db" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="baseUri" value="http://192.168.1.245:5553/" />
	</appSettings>
</configuration>