<div class="container g-0 mt-3 mt-xl-5 product">
  <div class="row">
    <div class="col-md-6">
      <div class="right p-3 p-xl-5">
        <img class="w-100" src="{{ image_url }}" alt="{{ title }}" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="left">
        {{ description }}

        <a href="#quote-start"
          class="btn btn-outline-success px-3 px-xl-5 py-3 mt-3 mt-xl-5">
          Start Repair <i class="bi bi-arrow-down-circle-fill"></i>
        </a>
      </div>
    </div>
  </div>
</div>
