@page "/uploading"
@using Accounting.Client.Components.Upload

<PageTitle>Accounting</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Upload your files!</h1>
            All your files are here.
        </div>
    </div>
</div>

<Upload />
