<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Filename=../../../vendors.db" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="baseUri" value="http://192.168.1.245:5553/" />
		<add key="basePathIcons" value="../../../icons" />
	</appSettings>
</configuration>