<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default1" connectionString="Data Source=.\persons.db;" providerName="System.Data.SqlClient" />
		<add name="Default" connectionString="Filename=../../../persons5.db" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>